$dark: black;
$light: #dbf9f0;
$accent1: #b3dec1;
$col04: #7ea8be;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.background-image {
    background: url('../images/background.png') fixed bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // position: sticky;

}

p {
    color: $accent1;
}

/* Navigation bar */

.header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    display: none;
}

.logo {
    margin: 2rem;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem;
    gap: 1.5rem;
    background-color: rgba($dark, 0.5);
}

@supports (backdrop-filter: blur(1rem)) {
    .navigation {
        background-color: rgba($light, 0.1);
        backdrop-filter: blur(1rem);
    }

    .navigation a {
        color: $light;
    }
}
.navigation a {
    color: $light;
    text-decoration: none;
    text-transform: lowercase;
}

@media (max-width: 700px) {
    .navigation {
        position: fixed;
        z-index: 9998;
        inset: 0 0 0 25%;
        padding: 6rem 3em;
        gap: 2rem;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        mask-image: url(../images/bars-solid.svg);
        mask-repeat: no-repeat;
        background-color: $light;
        border: 0;
        width: 1.5rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }

    .nav-toggle[aria-expanded="true"] {
        mask-image: url(../images/xmark-solid.svg);
        mask-repeat: no-repeat;
        background-color: $light;
    }
}

@media (min-width: 700px) {
    .navigation {
        padding: .5rem 4rem .5rem .5rem;
    }

    .navigation a {
        margin: 1rem;
    }
}

/* Landing page */

.landing-page {
    width: 100vw;
    height: 100vh;
    // background-color: rgba($accent1, 0.5);
}